*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 79, 0);
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: white;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 8px 0;
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    color: rgb(250, 79, 0);
    border-bottom: 2px solid rgb(250, 79, 0);
}

.button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button input {
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 8px 12px;
}

.signup {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color:rgb(250, 79, 0);
    color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.signin {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: rgb(236, 236, 236);
    color: black;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}


.button button:hover {
    transform: scale(1.1);
}

/* CONTENT */

.merger-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 6rem 4rem 4rem;
}

.content {
}

.content h1 {
    color: white;
}

.content p {
    width: 500px;
    color: white;
}

.button-merger {
    margin-top: 30px;
    display: flex;
    gap: 20px
}

.mulai-button {
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    font-weight: 600;
    color: rgb(250, 79, 0);
    border-style: none; 
    transition: transform 0.3s ease;
    cursor: pointer;
}

.mulai-button:hover {
    transform: scale(1.1);
}

.lanjut-button {
    padding: 20px;
    border-radius: 6px;
    border-style: none;
    background-color: rgb(211, 67, 1);
    font-weight: 600;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.lanjut-button:hover {
    transform: scale(1.1);
}

.content h1 {
    font-weight: 800;
}






/* IMG CONTENT */
.img img {
    width: 400px;
}